
<div align="left">
<br/>
<div>
  <a [routerLink]="['/newmanager']">Create Manager</a>  
</div>
<div>
    <a [routerLink]="['/allManager']">View AllManager</a>  
  </div>
  <div>
    <a [routerLink]="['/allUser']">View AllUsers</a>  
  </div>
  <div>
    <a [routerLink]="['/allowner']">View AllOwners</a>  
  </div>
  <div>
    <a [routerLink]="['/allfeedback']">View AllFeedback</a>  
  </div>
  <div>
    <a [routerLink]="['/allrequest']">View AllRequest</a>  
  </div>
  <div>
    <a [routerLink]="['/newmanager']">Add Manager</a>
  </div>
  <div class="col-sm-offset-4 col-sm-2">
    <button type="Submit" (click)="LogOut()">Logout</button> 
</div> 

</div>